:root{
    --accent:#b94b23;
    --muted:#555;
    --bg:#f6f4f2;
    --circle-size:420px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #fff;
    color: #333;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 40px;
}

.logo img{
    margin-left: 30px;
    height: 60px;
    width: auto;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar{
    display: flex;
    gap: 40px;
}

.nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.nav-items i{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
}

.nav-items:hover{
    color: black;
}

.nav-items:hover i{
    color: black;
}

#app{
    padding-left: 18px;
    padding-right: 18px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.actions{
    display: flex;
    gap: 15px;
}

.actions .join{
    text-decoration: none;
    color: #333;
    padding: 15px 24px;
    border: transparent;
    border-radius: 27px;
    font-size: 16px;
    margin-top: 1px;
}

.actions .signin{
    text-decoration: none;
    border: 1px solid #0a66c2;
    padding: 15px 24px;
    font-size: 18px;
    border-radius: 27px;
    color: #0a66c2;
}

.actions .join:hover{
    background: #ddd;
    color: #333;
}

.actions .signin:hover{
    background: #e4eefa;
    color: #333;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
    /* padding: 60px 10%; */
    flex-wrap: wrap;
}

.form-section{
    max-width: 500px;
}

.form-section h2{
    font-size: 45px;
    font-weight: 400;

    margin-bottom: 30px;
    color: #7f7f7f;
    margin-top: -70px;
}

.btn{
    width: 400px;
    border: 1px solid #888;
    margin-left: 20px;
    padding: 12px;
    border-radius: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 15px;
}

.btn-google{
    width: 400px;
    margin-left: 20px;
    border: 1px solid #888;
    padding: 12px;
    border-radius: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: #0680fa;
    color: #fff;
    margin-bottom: 15px;
}

.btn-google img{
    width: 20px;
    height: 20px;
}

.btn-google:hover{
    background-color: #62b0fd;
}

.btn img{
    width: 20px;
    height: 20px;
}

.btn:hover{
    background-color: #ddd;
}

.terms{
    font-size: 12px;
    max-width: 400px;
    margin-left: 45px;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

.terms a{
    color: #0a66c2;
    text-decoration: none;
}

.signup{
    margin-top: 25px;
    margin-left: 100px;
    font-size: 14px;
}

.signup a{
    color: #0a66c2;
    text-decoration: none;
}

.image-section img{
    margin-top: 30px;
    max-width: 700px;
    width: 700px;
    height: 560px;
}

.explore-container{
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--bg);
    padding: 60px 10%;
    gap: 40px;
    flex-wrap: wrap;
}

.left {
    flex: 1;
    min-width: 280px;
}

.left h3{
    font-size: 35px;
    margin-bottom: 12px;
    font-weight: 450;
}

.left p{
    font-size: 20px;
    color: #555;
    max-width: 420px;
}

.right{
    flex: 1;
    min-width: 300px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tags a{
    border: 1px solid #888;
    color: #333;
    padding: 8px 14px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tags a:hover{
    background: #bbbbbb;
    border-color: #b3b3b3;
    color: #666;
}

.tags,.right .show-all{
    color: #0068cf;
    border-color: #0574fc;
}

.tags .show-all:hover, .right .show-all:hover{
    color: #0068cf;
    background: #e4eefa;
}

.intership-section{
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    padding: 60px 10%;
    gap: 40px;
    margin-top: -10px;
    flex-wrap: wrap;
}

.post-job{
    text-align: center;
    padding: 40px 20px;
    background: var(--bg);
    border-radius: 8px;
    height: 250px;
}

.post-job h3{
    font-size: 30px;
    color: #b24020;
    margin-top: 20px;
    font-weight: 455;
}

.post-job a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid #0a66c2;
    border-radius: 25px;
    color: #0a66c2;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.post-job a:hover{
    background: #0a66c2;
    color: #fff;
}

.discover-section{
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    padding: 60px 10%;
    gap: 40px;
    margin-top: -10px;
    flex-wrap: wrap;
}

.games-section{
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    padding: 60px 10%;
    gap: 40px;
    margin-top: 150px;
    flex-wrap: wrap;
}

.section-text{
    flex: 1;
    max-width: 400px;
}

.section-text h2{
    font-size: 34px;
    color: #000;
    font-weight: 455;
    margin-bottom: 10px;
}

.section-text p{
    font-size: 20px;
    color: #111;
    max-width: 420px;
}

.section-options{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.section-options a{
    border: 1px solid #888;
    color: #333;
    padding: 8px 14px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.section-options a:hover{
    border-color: #b3b3b3;
    color: #666;
    background: #bbbbbb;
}

.hero{
    margin-top: 170px;
    background:var(--bg);
    padding:60px 20px;
    display:flex;
    justify-content:center;
}

.hero-inner{
    max-width:1200px;
    width:100%;
    display:grid;
    grid-template-columns: 1fr auto;
    align-items:center;
    gap:50px;
}

.copy h1{
    font-size:33px;
    font-weight: 400;
    max-width: 600px;
    color:var(--accent);
    margin:0 0 20px 0;
}
.copy p{
    font-size:18px;
    max-width: 600px;
    color:var(--muted);
    line-height:1.6;
    margin:0;
}

.slider-wrap{
    position:relative;
    width:var(--circle-size);
    height:var(--circle-size);
}

.circle{
    width:450px;
    height:450px;
    margin-left: -90px;
    border-radius:50%;
    overflow:hidden;
}

.circle img{
    width:450px;
    height:450px;
    object-fit:cover;
    transition:opacity .4s ease, transform .5s ease;
}

.nav-btn{
    position:absolute;
    top:50%;
    right:-24px;
    transform:translateY(-50%);
    width:48px;
    height:48px;
    border-radius:50%;
    background:rgba(0,0,0,0.75);
    border:none;
    color:#fff;
    font-size:24px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}

@media(max-width:900px){
    .hero-inner{ grid-template-columns:1fr; text-align:center; }
    .slider-wrap{ margin:0 auto; }
}

@media(max-width:500px){
    :root{ --circle-size:300px; }
    .copy h1{ font-size:26px; }
    .copy p{ font-size:16px; }
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px; 
    padding: 150px 60px;
}

.feature {
    flex: 1;
    max-width: 350px;
    text-align: center;
}

.feature img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    transform: scaleX(-1);
}
    
.feature:nth-child(2) img {
    transform: none;
}

.feature h3 {
    font-size: 29px;
    margin: 0 0 20px;
    font-weight: 480;
}

.features .btn {
    display: inline-block;
    padding: 10px 18px;
    width: 220px;
    border: 1px solid #000;
    border-radius: 25px;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    transition: background 0.2s ease;
}

.features .btn:hover {
    background: #f3f3f3;
}

select {
    padding: 10px 15px;
    font-size: 19px;
    width: 300px;
    border: 1px solid #999;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}

@media(max-width: 900px) {
    .features {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .feature img {
        transform: none;
      }
}

.who-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    gap: 100px;
    padding: 60px 40px;
}

.who-left {
    background: #f3f2ef;
    padding: 170px 150px;
    height: 700px;
    align-items: center;
    border-radius: 6px;
    max-width: 730px;
    flex: 1;
}

.who-title {
    font-size: 33px;
    font-weight: 400;
    color: #b24020;
    margin: 0 0 10px;
}

.who-subtext {
    font-size: 20px;
    color: #444;
    max-width: 700px;
    margin: 0 0 30px;
}

.who-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.who-btn {
    background: #eae6df;
    border: none;
    padding: 16px 20px;
    font-size: 19px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s ease;
}

.who-btn:hover {
    background: #e0dbd4;
}

.who-arrow {
    font-size: 20px;
    color: #666;
}

.who-right {
    flex: 1;
    display: flex;
    overflow: hidden;
    margin-right: -40px;
    justify-content: center;
    align-items: center;
}


.who-image img {
    width: 850px;
    height: 850px;
    margin-left: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

@media (max-width: 900px) {
    .who-container {
      flex-direction: column;
      padding: 40px 20px;
      text-align: center;
    }
    .who-left {
      width: 100%;
    }
    .who-btn {
      width: 100%;
    }
    .who-image {
      width: 300px;
      height: 300px;
    }
}

.video-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 150px 10px;
    background: #fff;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
}

.video-box iframe{
    width: 530px;
    height: 378px;
    border-radius: 8px;
    border: none;
}

.video-text{
    max-width: 500px;
}

.video-text h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 12px;
}

.video-text h3{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0,0,0,0.75);
    margin-bottom: 8px;
}

footer{
    background: var(--bg);
}

.footer-container{
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
}

.footer-top{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col{
    min-width: 180px;
    margin: 10px 0;
}

.footer-col h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #111;
}

.footer-col ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li{
    margin-bottom: 8px;
}

.footer-col ul li a{
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,0.75);
    font-size: 13px;
}

.footer-col ul li a:hover{
    text-decoration: underline;
    color: #0a66c2;
}

.footer-logo{
    margin-bottom: 20px;
}

.footer-logo img{
    height: 60px;
}

@media (max-width: 768px){
    .footer-top{
        flex-direction: column;
        gap: 30px;
    }
}

.footer-bottom{
    text-align: center;
    display: flex;
    margin-top: 30px;
    color: #777;
    padding: 20px 200px;
    font-size: 13px;
    background: #fff;
    height: 50px;
}

.footer-bottom p{
    margin-right: 10px;
}

.footer-bottom-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-bottom-links a{
    text-decoration: none;
    font-size: 13px;
    color: #666;
}

.footer-bottom-links a:hover{
    text-decoration: underline;
}