* {
  margin: -0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 20px;
}

.logo {
  width: 100%;
  max-width: 1128px;
}

.logo{
  margin-top: -30px;
  margin-left: -300px;
}

.logo img {
  width: 115px;
}

.signin-box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.signin-box h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.social-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-btn:hover {
  background: #f3f2ef;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
  font-size: 14px;
  margin: 20px 0;
}

.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider:not(:empty)::before {
  margin-right: .75em;
}

.divider:not(:empty)::after {
  margin-left: .75em;
}

.signin-box input[type="text"],
.signin-box input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.forgot {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #0a66c2;
  text-decoration: none;
  font-weight: 500;
}

.forgot:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}

.signin-btn {
  width: 100%;
  padding: 14px;
  background: #0a66c2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.signin-btn:hover {
  background: #004182;
}

.bottom-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.bottom-text a {
  color: #0a66c2;
  font-weight: 400;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  background: #fff;
  margin-bottom: -40px;
  padding: 10px 160px; 
}

.footer-container{
  text-align: center;
  display: flex;
  color: #777;
  gap: 15px;
  padding: 20px 20px;
  font-size: 13px;
  background: #fff;
  height: 50px;
}


.footer-container a{
  text-decoration: none;
  color: #666;
}

.footer-container a:hover{
  text-decoration: underline;
}

.footer-logo{
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.footer-copy{
  margin-right: 15px;
  color: #333;
}    